# This is Git's per-user configuration file.
[user]
	name = Richard Fulop
	email = richie@freemarkethealth.com

[alias]
	a = add
	aa = add -A
	b = !git --no-pager branch
	bd = branch -D
	c = commit
	cl = clean
	clf = clean -f
	cldf = clean -df
	cnv = commit --no-verify
	co = checkout
	cob = checkout -b
	d = !git --no-pager diff
	ds = !git --no-pager diff --summary
	l = !git --no-pager log | head
	p = push
	puo = push -u origin
	pl = pull
	rb = rebase
	s = status

[pull]
	rebase = true
[init]
	defaultBranch = master
